<div class="user-profile">
  <div class="card">
    <img src=<%=@user.photo %> alt="photo" class="photo">
    <div class="card-info">
      <h3 class="info-name" ><%= @user.name %> </h3>
      <h5 class="info-number-posts" > Number of posts: <%= @user.post_counter %> </h5>
    </div>
  </div>
  <div class="bio">
    <h5 class="bio-title"> Bio </h5>
    <p class="bio-text"><%= @user.bio %></p>
  </div>
  <% @my_posts.each do |post| %>
    <div class="bio">
      <h5 class="bio-title"> Post #<%= post.title%> </h5>
      <p class="bio-text"><%= post.text %></p>
    </div>
  <% end %>
  <%= button_to "See all posts", { action: "obtain_all_posts" }, class: "user-button-all", id: "btn-user-close" %>
</div>
