<div class="posts">
  <h5>The post loaded was:'</h5>
  <div class="bio">
    <div class="post-top">
      <h5 class="bio-title"> Post #<%= @post.title%> by <%= @user.name %> </h5>
      <h5 class="bio-likes"> Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %> </h5>
    </div>
    <p class="bio-text"><%= @post.text %></p>
    <%= button_to "Like", { controller: "posts", action: "like_hit", data: {post_id: @post, user_id: @user.id  }}, class: 'btn btn-danger' %>
  </div>
  <div class="post-comments">
    <%= render partial: '/posts/form_comment', :locals => {:@post => @post} %>
    <% if @comments %>
      <% @comments.includes([:user]).each do |comment| %>
        <div class="post-comment">
          <h6 class="post_comment-text"><%= comment.user.name%> : </h6>
          <h5 class="post_comment-text-name"><%= comment.text%></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
